extends ../../layout

block content
  h3 Location Type List

  a(href='/location-type/add' class="btn btn-default") Add
  
  table(class="table")
    thead
      tr
        th ID
        th Name
        th Code
        th &nbsp;
    tbody
      each type in locationTypes
        tr
          td #{type.id}
          td #{type.name}
          td #{type.code}
          td
            a(href=`/location-type/edit/${type.id}` class="btn btn-default") Edit
            a(href=`/location-type/remove/${type.id}` class="btn btn-default") Delete