extends ../../layout

block content
  h3 Product List

  a(href='/product/add' class="btn btn-default") Add

  table(class="table")
    thead
      tr
        th Name
        th SKU
        th Price
        th Weight
        th Volume
    tbody
      each product in products
        tr
          td #{product.name}
          td #{product.sku}
          td #{product.price}
          td #{product.weight}          
          td #{product.volume}
          td