extends ../../layout

block content
  h3 Product List

  a(href='/product/add' class="btn btn-default") Add

  table(class="table")
    thead
      tr
        th ID
        th Name
        th Weight
        th Volume
    tbody
      each product in products
        tr
          td #{product.id}
          td #{product.name}
          td #{product.weight}
          td #{product.volume}
          td
            a(href=`/product/edit/${product.id}` class="btn btn-default") Edit
            a(href=`/product/remove/${product.id}` class="btn btn-default") Delete